      h1{
          text-align: center;
          color: rgb(0, 0, 0);
      }
      img{
      display: block;
   margin: 0 auto;
      }
      
    body{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    div{
      text-align: center;
    }
    button{
      font-size:medium;
      text-align: center; 
      height:30px;
    }
    fieldset{
        width: 500px;
        background-color: beige;
        margin-left: auto;
    margin-right: auto;
    }
    